*{margin:0;padding:0;box-sizing:border-box}
body{color:#fff;overflow:auto;}
  /* !==============>>>> Generic css <<<======================  */
.main{margin-top:100px;padding-top:30px;height:100vh}
.mainbg-background{background-color:#1abc9c}
.star{color:#fff;padding-inline:9px}
.beforestar{width:150px;height:6px;background-color:#fff}
.afterstar{width:150px;height:6px;background-color:#fff}
  /* !==============>>>> End of Generic css <<<===============  */
/* ~==============>>>> Navbar css <<<========================= */
.navbar{background-color:#2c3e50!important}
/* ~==============>>>> End of Navbar css <<<=============== */
 /* ?===========>>>>>Home <<<<<<<=========================== */
.details{margin-top:10px;color:#fff}
 /* ?===========>>>>>End of Home <<<<<<<===================== */

 /* *================>>>>>portfolio <<<<<====================== */
 .portfolio img{cursor: pointer;}
 /* *================>>>>>end of portfolio <<<<<================ */